In [3]:
brides = ["smart, homely, educated, girl","fair, cultured, family, values","attractive, girl,doctor" ]
grooms = ["govt employee, non smoker","engineer employee, vegan","doctor, own house, traditinal family"]

In [4]:
corpus = brides + grooms

In [5]:
corpus

['smart, homely, educated, girl',
 'fair, cultured, family, values',
 'attractive, girl,doctor',
 'govt employee, non smoker',
 'engineer employee, vegan',
 'doctor, own house, traditinal family']

In [6]:
corpus = " ".join(corpus)

In [7]:
corpus

'smart, homely, educated, girl fair, cultured, family, values attractive, girl,doctor govt employee, non smoker engineer employee, vegan doctor, own house, traditinal family'

In [8]:
corpus = tuple(set(corpus.replace(','," ").split()))

In [9]:
corpus

('vegan',
 'cultured',
 'doctor',
 'fair',
 'non',
 'educated',
 'own',
 'family',
 'homely',
 'attractive',
 'smoker',
 'engineer',
 'values',
 'house',
 'govt',
 'employee',
 'smart',
 'traditinal',
 'girl')

In [10]:
corpus.index('smart')

16

In [12]:
for ad in brides:
    words = ad.replace(","," ").split()
    ad_dict={}
    for word in words:
        ad_dict[word]=corpus.index(word)
    print(ad_dict)

{'smart': 16, 'homely': 8, 'educated': 5, 'girl': 18}
{'fair': 3, 'cultured': 1, 'family': 7, 'values': 12}
{'attractive': 9, 'girl': 18, 'doctor': 2}

In [13]:
for ad in grooms:
    words = ad.replace(","," ").split()
    ad_dict={}
    for word in words:
        ad_dict[word]=corpus.index(word)
    print(ad_dict)

{'govt': 14, 'employee': 15, 'non': 4, 'smoker': 10}
{'engineer': 11, 'employee': 15, 'vegan': 0}
{'doctor': 2, 'own': 6, 'house': 13, 'traditinal': 17, 'family': 7}

In [14]:
dataset = []
for ad in grooms:
    words = ad.replace(","," ").split()
    tmp={}
    for word in corpus:
        tmp[word] = int(word in words)
    tmp["for"] = "Groom"
    dataset.append(tmp)
    
for ad in brides:
    words = ad.replace(","," ").split()
    tmp={}
    for word in corpus:
        tmp[word] = int(word in words)
    tmp["for"] = "Bride"
    dataset.append(tmp)

In [16]:
dataset

[{'vegan': 0,
  'cultured': 0,
  'doctor': 0,
  'fair': 0,
  'non': 1,
  'educated': 0,
  'own': 0,
  'family': 0,
  'homely': 0,
  'attractive': 0,
  'smoker': 1,
  'engineer': 0,
  'values': 0,
  'house': 0,
  'govt': 1,
  'employee': 1,
  'smart': 0,
  'traditinal': 0,
  'girl': 0,
  'for': 'Groom'},
 {'vegan': 1,
  'cultured': 0,
  'doctor': 0,
  'fair': 0,
  'non': 0,
  'educated': 0,
  'own': 0,
  'family': 0,
  'homely': 0,
  'attractive': 0,
  'smoker': 0,
  'engineer': 1,
  'values': 0,
  'house': 0,
  'govt': 0,
  'employee': 1,
  'smart': 0,
  'traditinal': 0,
  'girl': 0,
  'for': 'Groom'},
 {'vegan': 0,
  'cultured': 0,
  'doctor': 1,
  'fair': 0,
  'non': 0,
  'educated': 0,
  'own': 1,
  'family': 1,
  'homely': 0,
  'attractive': 0,
  'smoker': 0,
  'engineer': 0,
  'values': 0,
  'house': 1,
  'govt': 0,
  'employee': 0,
  'smart': 0,
  'traditinal': 1,
  'girl': 0,
  'for': 'Groom'},
 {'vegan': 0,
  'cultured': 0,
  'doctor': 0,
  'fair': 0,
  'non': 0,
  'educated': 1,
  'own': 0,
  'family': 0,
  'homely': 1,
  'attractive': 0,
  'smoker': 0,
  'engineer': 0,
  'values': 0,
  'house': 0,
  'govt': 0,
  'employee': 0,
  'smart': 1,
  'traditinal': 0,
  'girl': 1,
  'for': 'Bride'},
 {'vegan': 0,
  'cultured': 1,
  'doctor': 0,
  'fair': 1,
  'non': 0,
  'educated': 0,
  'own': 0,
  'family': 1,
  'homely': 0,
  'attractive': 0,
  'smoker': 0,
  'engineer': 0,
  'values': 1,
  'house': 0,
  'govt': 0,
  'employee': 0,
  'smart': 0,
  'traditinal': 0,
  'girl': 0,
  'for': 'Bride'},
 {'vegan': 0,
  'cultured': 0,
  'doctor': 1,
  'fair': 0,
  'non': 0,
  'educated': 0,
  'own': 0,
  'family': 0,
  'homely': 0,
  'attractive': 1,
  'smoker': 0,
  'engineer': 0,
  'values': 0,
  'house': 0,
  'govt': 0,
  'employee': 0,
  'smart': 0,
  'traditinal': 0,
  'girl': 1,
  'for': 'Bride'}]

In [17]:
import pandas as pd

In [29]:
df = pd.DataFrame(dataset)

In [19]:
df.tail()

,vegan,cultured,doctor,fair,non,educated,own,family,homely,attractive,smoker,engineer,values,house,govt,employee,smart,traditinal,girl,for
1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,Groom
2,0,0,1,0,0,0,1,1,0,0,0,0,0,1,0,0,0,1,0,Groom
3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1,Bride
4,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,Bride
5,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,Bride

In [20]:
df.shape

(6, 20)

In [21]:
target = df['for']
features = df.drop(columns=["for"])

In [22]:
target.head()

0    Groom
1    Groom
2    Groom
3    Bride
4    Bride
Name: for, dtype: object

In [23]:
features.head()

,vegan,cultured,doctor,fair,non,educated,own,family,homely,attractive,smoker,engineer,values,house,govt,employee,smart,traditinal,girl
0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,1,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0
2,0,0,1,0,0,0,1,1,0,0,0,0,0,1,0,0,0,1,0
3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,1
4,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0

In [24]:
from sklearn.linear_model import LogisticRegression

In [25]:
lr = LogisticRegression()

In [26]:
lr.fit(features,target)

LogisticRegression()

In [27]:
lr.score(features,target)

1.0

In [28]:
lr.predict(features)

array(['Groom', 'Groom', 'Groom', 'Bride', 'Bride', 'Bride'], dtype=object)