# Scaling

### Load your data

In [22]:
import pandas as pd

In [23]:
df = pd.read_csv("mpg.csv")

In [24]:
df.head()

,MPG,Cylinders,Engine Disp,Horsepower,Weight,Accelerate,Year,Origin
0,15.0,8,390.0,190,3850,8.5,70,American
1,21.0,6,199.0,90,2648,15.0,70,American
2,18.0,6,199.0,97,2774,15.5,70,American
3,16.0,8,304.0,150,3433,12.0,70,American
4,14.0,8,455.0,225,3086,10.0,70,American

### Identify the input and the output

In [25]:
y = df.MPG
x = df.drop(columns=['MPG','Origin'])

In [26]:
x.head()

   Cylinders  Engine Disp  Horsepower  Weight  Accelerate  Year
0          8        390.0         190    3850         8.5    70
1          6        199.0          90    2648        15.0    70
2          6        199.0          97    2774        15.5    70
3          8        304.0         150    3433        12.0    70
4          8        455.0         225    3086        10.0    70

### Choose an ml algorithm

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:
lr = LinearRegression()

### Train the algorithm

In [29]:
lr.fit(x,y)

LinearRegression()

# Min Max Scaling

In [30]:
from sklearn.preprocessing import MinMaxScaler

# Standard Scaling

In [31]:
from sklearn.preprocessing import StandardScaler

### Check the learning accuracy

In [32]:
lr.score(x,y)

0.8092552890383933

In [33]:
def get_score(x,y,scaler):
    myscaler = scaler()
    x_scaled = myscaler.fit(x).transform(x)
    lr.fit(x_scaled,y)
    print(lr.score(x_scaled,y))

In [34]:
get_score(x,y,StandardScaler)

0.8092552890383932

In [35]:
get_score(x,y,MinMaxScaler)

0.809255289038393