In [3]:
text = '''
The Maharashtra government has reduced the prices of petrol and diesel by Rs 5 per litre and Rs 3 per litre respectively, the state’s chief minister Eknath Shinde said on Thursday, July 13. The decision was taken during the second cabinet meeting of the new government, which was formed last month after former chief minister Uddhav Thackeray resigned. Shinde informed reporters after the cabinet meeting at Mantralaya that the decision to reduce petrol, diesel price in Maharashtra would entail a burden of Rs 6,000 crore on the state exchequer.

“Maharashtra government will reduce value added tax (VAT) on petrol and diesel by Rs 5 and Rs 3 per litre respectively," the newly sworn-in chief minister said on the day.

Following the price reduction, petrol price in Mumbai will come down to Rs 106.35 per litre, as opposed to the Rs 111.35 per litre now. Similarly, diesel price in Mumbai will be cut to Rs 94.28 per litre, down by Rs 3 from the present Rs 97.28 per litre. In Pune, petrol price will be Rs 105.88 per litre, while diesel will be priced at Rs 92.37 for one litre. The price of one litre of petrol in Thane will come down to Rs 106.49 after the new rates are implemented. Diesel price in Thane will be reduced to Rs 94.42 per litre.
'''

In [4]:
len(text)

1251

In [5]:
words = text.split()

In [6]:
len(words)

222

In [8]:
len(set(words))

108

In [9]:
len(set(text.lower().split()))

105

In [10]:
unique_words = set(text.lower().split())

In [11]:
for word in unique_words:
    print(text.lower().count(word), word)

1 entail
4 reduce
1 tax
6 to
1 6,000
1 petrol,
1 94.42
4 for
19 in
4 and
1 reduction,
7 will
8 at
2 cabinet
3 maharashtra
1 while
11 on
1 government,
1 rates
1 similarly,
3 litre,
1 (vat)
1 opposed
5 5
9 price
1 last
16 rs
1 respectively,"
2 meeting
1 newly
1 during
1 former
1 july
1 prices
1 sworn-in
3 by
1 burden
1 uddhav
3 chief
1 thackeray
3 minister
2 formed
2 decision
1 now.
1 resigned.
1 which
2 mumbai
1 day.
1 that
8 as
2 one
1 “maharashtra
11 litre
2 reduced
2 shinde
1 from
3 down
5 of
1 month
57 a
1 111.35
4 be
1 92.37
1 priced
2 come
2 said
1 reporters
1 taken
2 thane
6 petrol
1 present
2 state
3 government
1 97.28
3 litre.
1 second
1 13.
3 new
1 state’s
1 crore
1 would
1 following
1 105.88
1 are
1 eknath
16 the
1 implemented.
1 106.49
1 added
1 pune,
1 mantralaya
2 respectively,
1 cut
3 after
1 informed
6 diesel
1 94.28
1 value
1 exchequer.
7 3
1 has
2 was
9 per
1 106.35
1 thursday,

In [12]:
data = {}
for word in unique_words:
    data[word] = text.lower().count(word)

In [13]:
data

{'entail': 1,
 'reduce': 4,
 'tax': 1,
 'to': 6,
 '6,000': 1,
 'petrol,': 1,
 '94.42': 1,
 'for': 4,
 'in': 19,
 'and': 4,
 'reduction,': 1,
 'will': 7,
 'at': 8,
 'cabinet': 2,
 'maharashtra': 3,
 'while': 1,
 'on': 11,
 'government,': 1,
 'rates': 1,
 'similarly,': 1,
 'litre,': 3,
 '(vat)': 1,
 'opposed': 1,
 '5': 5,
 'price': 9,
 'last': 1,
 'rs': 16,
 'respectively,"': 1,
 'meeting': 2,
 'newly': 1,
 'during': 1,
 'former': 1,
 'july': 1,
 'prices': 1,
 'sworn-in': 1,
 'by': 3,
 'burden': 1,
 'uddhav': 1,
 'chief': 3,
 'thackeray': 1,
 'minister': 3,
 'formed': 2,
 'decision': 2,
 'now.': 1,
 'resigned.': 1,
 'which': 1,
 'mumbai': 2,
 'day.': 1,
 'that': 1,
 'as': 8,
 'one': 2,
 '“maharashtra': 1,
 'litre': 11,
 'reduced': 2,
 'shinde': 2,
 'from': 1,
 'down': 3,
 'of': 5,
 'month': 1,
 'a': 57,
 '111.35': 1,
 'be': 4,
 '92.37': 1,
 'priced': 1,
 'come': 2,
 'said': 2,
 'reporters': 1,
 'taken': 1,
 'thane': 2,
 'petrol': 6,
 'present': 1,
 'state': 2,
 'government': 3,
 '97.28': 1,
 'litre.': 3,
 'second': 1,
 '13.': 1,
 'new': 3,
 'state’s': 1,
 'crore': 1,
 'would': 1,
 'following': 1,
 '105.88': 1,
 'are': 1,
 'eknath': 1,
 'the': 16,
 'implemented.': 1,
 '106.49': 1,
 'added': 1,
 'pune,': 1,
 'mantralaya': 1,
 'respectively,': 2,
 'cut': 1,
 'after': 3,
 'informed': 1,
 'diesel': 6,
 '94.28': 1,
 'value': 1,
 'exchequer.': 1,
 '3': 7,
 'has': 1,
 'was': 2,
 'per': 9,
 '106.35': 1,
 'thursday,': 1}

In [ ]:
text1 = "hello how are you"
text2 = ""