In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("loans-raw.csv")

In [140]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,TotalIncome,TotalIncomeINR,Income_Category,Income_group
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.005042,360.0,1.0,Urban,Y,5849.0,438675.0,medium,middle income
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N,6091.0,456825.0,medium,poor
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y,3000.0,225000.0,low,poor
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y,4941.0,370575.0,medium,poor
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y,6000.0,450000.0,medium,middle income

In [ ]:
df.tail()

In [ ]:
df.Property_Area.value_counts()

In [ ]:
df.Property_Area.value_counts().plot()

In [ ]:
df.Property_Area.value_counts().plot.pie()

In [ ]:
df.Property_Area.value_counts().plot.bar()

In [ ]:
df.Property_Area.value_counts().plot.barh()

In [ ]:
# Analyze other categorical coloumns

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.ApplicantIncome.hist()

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(df.ApplicantIncome)

In [ ]:
sns.distplot(df.LoanAmount)

In [ ]:
df.plot.scatter("ApplicantIncome","LoanAmount")

In [ ]:
df.plot.scatter("ApplicantIncome","CoapplicantIncome")

In [ ]:
df.corr()

In [ ]:
df.corr().ApplicantIncome

In [ ]:
# check for duplicates

In [ ]:
# count duplicate rows

In [ ]:
df.duplicated().sum()

In [ ]:
df[df.duplicated()] # show duplicate rows

In [ ]:
# how to remove duplicates

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

In [ ]:
df.duplicated().sum()

In [ ]:
# Normalization

In [ ]:
df.Property_Area.value_counts()

In [ ]:
df["Property_Area"] = df.Property_Area.apply(str.capitalize)

In [ ]:
df.Property_Area.value_counts()

In [ ]:
df['TotalIncome'] = df.ApplicantIncome + df.CoapplicantIncome

In [ ]:
df.head()

In [ ]:
df['TotalIncomeINR'] = df.TotalIncome * 75

In [ ]:
# Missing data

In [ ]:
# Find what data is missing

In [ ]:
df.isnull().sum()

In [ ]:
# Imputation

In [ ]:
df.LoanAmount.mean()

In [ ]:
# Replace all missing values with the mean on that columns

In [ ]:
df.LoanAmount.fillna(df.LoanAmount.mean(), inplace=True)

In [ ]:
df.LoanAmount.mean()

In [ ]:
df.isnull().sum()

In [ ]:
# Discretization

In [ ]:
df.LoanAmount.min()

In [ ]:
df.LoanAmount.max()

In [ ]:
df.LoanAmount.mean()

In [ ]:
def categorize(income):
    if income < 100:
        return "low"
    elif income >=100 and income <=300:
        return "medium"
    else:
        return "high"

In [ ]:
categorize(150)

In [ ]:
categorize(99)

In [ ]:
categorize(389)

In [ ]:
df.LoanAmount.apply(categorize)

In [ ]:
df['Income_Category'] = df.LoanAmount.apply(categorize)

In [ ]:
df.Income_Category.value_counts()

In [ ]:
df.groupby('Income_Category').mean()

In [126]:
# using cut

In [151]:
categories = ["poor","middle income","high","ultra high"]
mybins = [0,5000,11000,15000,85000]

In [152]:
df['Income_group'] = pd.cut(x=df.ApplicantIncome, bins=mybins,labels =categories)

In [139]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,TotalIncome,TotalIncomeINR
count,618.000000,618.000000,618.000000,604.000000,567.000000,618.000000,6.180000e+02
mean,5395.203883,1612.365566,146.005042,341.721854,0.843034,7007.569450,5.255677e+05
std,6091.654472,2919.032181,84.001630,65.542376,0.364090,6442.254335,4.831691e+05
min,150.000000,0.000000,9.000000,12.000000,0.000000,1442.000000,1.081500e+05
25%,2877.500000,0.000000,100.000000,360.000000,1.000000,4161.500000,3.121125e+05
50%,3812.500000,1128.500000,128.500000,360.000000,1.000000,5407.000000,4.055250e+05
75%,5795.000000,2281.000000,163.500000,360.000000,1.000000,7474.750000,5.606062e+05
max,81000.000000,41667.000000,700.000000,480.000000,1.000000,81000.000000,6.075000e+06

In [136]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,TotalIncome,TotalIncomeINR,Income_Category,Income_group
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.005042,360.0,1.0,Urban,Y,5849.0,438675.0,medium,middle income
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N,6091.0,456825.0,medium,poor
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y,3000.0,225000.0,low,poor
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y,4941.0,370575.0,medium,poor
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y,6000.0,450000.0,medium,middle income

In [141]:
df.to_csv("loans-cleaned.csv",index=False)

In [143]:
df.to_excel("loans.xlsx",index=False)