# Write a ml program that will predict the price of a house

### Load your data

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import export_graphviz

In [2]:
df = pd.read_csv("mpg.csv")

In [3]:
df.head()

,MPG,Cylinders,Engine Disp,Horsepower,Weight,Accelerate,Year,Origin
0,15.0,8,390.0,190,3850,8.5,70,American
1,21.0,6,199.0,90,2648,15.0,70,American
2,18.0,6,199.0,97,2774,15.5,70,American
3,16.0,8,304.0,150,3433,12.0,70,American
4,14.0,8,455.0,225,3086,10.0,70,American

### Explore your data (EDA)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MPG          392 non-null    float64
 1   Cylinders    392 non-null    int64
 2   Engine Disp  392 non-null    float64
 3   Horsepower   392 non-null    int64
 4   Weight       392 non-null    int64
 5   Accelerate   392 non-null    float64
 6   Year         392 non-null    int64
 7   Origin       392 non-null    object
dtypes: float64(3), int64(4), object(1)
memory usage: 24.6+ KB

In [5]:
df.describe()

,MPG,Cylinders,Engine Disp,Horsepower,Weight,Accelerate,Year
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,23.445918,5.471939,194.411990,104.469388,2977.584184,15.541327,75.979592
std,7.805007,1.705783,104.644004,38.491160,849.402560,2.758864,3.683737
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.000000,4.000000,105.000000,75.000000,2225.250000,13.775000,73.000000
50%,22.750000,4.000000,151.000000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,275.750000,126.000000,3614.750000,17.025000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [6]:
df.corr()

,MPG,Cylinders,Engine Disp,Horsepower,Weight,Accelerate,Year
MPG,1.000000,-0.777618,-0.805127,-0.778427,-0.832244,0.423329,0.580541
Cylinders,-0.777618,1.000000,0.950823,0.842983,0.897527,-0.504683,-0.345647
Engine Disp,-0.805127,0.950823,1.000000,0.897257,0.932994,-0.543800,-0.369855
Horsepower,-0.778427,0.842983,0.897257,1.000000,0.864538,-0.689196,-0.416361
Weight,-0.832244,0.897527,0.932994,0.864538,1.000000,-0.416839,-0.309120
Accelerate,0.423329,-0.504683,-0.543800,-0.689196,-0.416839,1.000000,0.290316
Year,0.580541,-0.345647,-0.369855,-0.416361,-0.309120,0.290316,1.000000

In [7]:
df.corr().MPG

MPG            1.000000
Cylinders     -0.777618
Engine Disp   -0.805127
Horsepower    -0.778427
Weight        -0.832244
Accelerate     0.423329
Year           0.580541
Name: MPG, dtype: float64

### Identify the input and the output

In [8]:
y = df.MPG
x = df.drop(columns=['MPG', 'Origin'])

In [11]:
x.head()

   Cylinders  Engine Disp  Horsepower  Weight  Accelerate  Year
0          8        390.0         190    3850         8.5    70
1          6        199.0          90    2648        15.0    70
2          6        199.0          97    2774        15.5    70
3          8        304.0         150    3433        12.0    70
4          8        455.0         225    3086        10.0    70

### Choose an ml algorithm

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
lr = LinearRegression()

In [15]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42,stratify=df.Origin)

### Train the algorithm

In [18]:
lr.fit(x_train,y_train)

LinearRegression()

### Check the learning accuracy

In [19]:
lr.score(x_train,y_train)

0.819647986733614

In [20]:
lr.score(x_test,y_test)

0.7743599795025149

### predict

In [21]:
lr.predict([x.iloc[4]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([15.44210621])

In [22]:
lr.coef_

array([ 0.08997992, -0.00781111, -0.00480376, -0.00561406,  0.07853058,
        0.74623119])

In [23]:
lr.intercept_

-16.339339738315317

### Metrics

In [24]:
df.head()

,MPG,Cylinders,Engine Disp,Horsepower,Weight,Accelerate,Year,Origin
0,15.0,8,390.0,190,3850,8.5,70,American
1,21.0,6,199.0,90,2648,15.0,70,American
2,18.0,6,199.0,97,2774,15.5,70,American
3,16.0,8,304.0,150,3433,12.0,70,American
4,14.0,8,455.0,225,3086,10.0,70,American

In [25]:
df["predicted_mpg"] = lr.predict(x)

In [26]:
df.head()

,MPG,Cylinders,Engine Disp,Horsepower,Weight,Accelerate,Year,Origin,predicted_mpg
0,15.0,8,390.0,190,3850,8.5,70,American,11.711024
1,21.0,6,199.0,90,2648,15.0,70,American,20.761908
2,18.0,6,199.0,97,2774,15.5,70,American,20.060175
3,16.0,8,304.0,150,3433,12.0,70,American,15.190848
4,14.0,8,455.0,225,3086,10.0,70,American,15.442106

In [27]:
df["error"] = df.MPG - df.predicted_mpg

In [28]:
df.head()

,MPG,Cylinders,Engine Disp,Horsepower,Weight,Accelerate,Year,Origin,predicted_mpg,error
0,15.0,8,390.0,190,3850,8.5,70,American,11.711024,3.288976
1,21.0,6,199.0,90,2648,15.0,70,American,20.761908,0.238092
2,18.0,6,199.0,97,2774,15.5,70,American,20.060175,-2.060175
3,16.0,8,304.0,150,3433,12.0,70,American,15.190848,0.809152
4,14.0,8,455.0,225,3086,10.0,70,American,15.442106,-1.442106

In [29]:
df["abserror"] = df.error.apply(abs)

In [30]:
df.head()

,MPG,Cylinders,Engine Disp,Horsepower,Weight,Accelerate,Year,Origin,predicted_mpg,error,abserror
0,15.0,8,390.0,190,3850,8.5,70,American,11.711024,3.288976,3.288976
1,21.0,6,199.0,90,2648,15.0,70,American,20.761908,0.238092,0.238092
2,18.0,6,199.0,97,2774,15.5,70,American,20.060175,-2.060175,2.060175
3,16.0,8,304.0,150,3433,12.0,70,American,15.190848,0.809152,0.809152
4,14.0,8,455.0,225,3086,10.0,70,American,15.442106,-1.442106,1.442106

In [31]:
df.abserror.sum() # absolute error

1035.9138436146714

In [32]:
df.abserror.count()

392

In [33]:
# mean absolute error
df.abserror.sum()/df.abserror.count()

2.642637356159876

In [34]:
df["squared_error"] = df.error ** 2

In [35]:
df.head()

,MPG,Cylinders,Engine Disp,Horsepower,Weight,Accelerate,Year,Origin,predicted_mpg,error,abserror,squared_error
0,15.0,8,390.0,190,3850,8.5,70,American,11.711024,3.288976,3.288976,10.817365
1,21.0,6,199.0,90,2648,15.0,70,American,20.761908,0.238092,0.238092,0.056688
2,18.0,6,199.0,97,2774,15.5,70,American,20.060175,-2.060175,2.060175,4.244323
3,16.0,8,304.0,150,3433,12.0,70,American,15.190848,0.809152,0.809152,0.654726
4,14.0,8,455.0,225,3086,10.0,70,American,15.442106,-1.442106,1.442106,2.079670

In [36]:
df.squared_error.sum() # total squared error

4628.309061771538

In [37]:
df.squared_error.sum()/df.squared_error.count() # mean squared error

11.806910871866169

In [38]:
(df.squared_error.sum()/df.squared_error.count() )** 0.5 # root mean squared error

3.436118576514229

In [39]:
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import median_absolute_error as mde
from sklearn.metrics import r2_score as score

In [40]:
original = [1,2,3,4,5]
predicted = [1,2.2,3,4.2,5]

In [41]:
print("MSE is ",mse(original,predicted))
print("MAE is ",mae(original,predicted))
print("MDE is ",mde(original,predicted))
print("R Squared is ",score(original,predicted))

MSE is  0.016000000000000028
MAE is  0.08000000000000007
MDE is  0.0
R Squared is  0.992

In [42]:
mse(y,lr.predict(x))

11.806910871866169

In [43]:
mse(y,lr.predict(x)) ** 0.5

3.436118576514229