### Load your data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("mpg.csv")

In [3]:
df.head()

,MPG,Cylinders,Engine Disp,Horsepower,Weight,Accelerate,Year,Origin
0,15.0,8,390.0,190,3850,8.5,70,American
1,21.0,6,199.0,90,2648,15.0,70,American
2,18.0,6,199.0,97,2774,15.5,70,American
3,16.0,8,304.0,150,3433,12.0,70,American
4,14.0,8,455.0,225,3086,10.0,70,American

### Identify the input and the output

In [4]:
y = df.MPG
x = df.drop(columns=["MPG","Origin"])

### Choose an ml algorithm

In [5]:
from sklearn.linear_model import LinearRegression

In [6]:
lr = LinearRegression()

### Train the algorithm

In [7]:
lr.fit(x,y)

LinearRegression()

### Check the learning accuracy

In [8]:
lr.score(x,y)

0.8092552890383933

In [9]:
lr.predict([[8,390.0,190,3850,8.5,70]])

array([13.04735326])

In [10]:
from sklearn.metrics import mean_squared_error as mse

In [11]:
#rmse
mse(y,lr.predict(x)) ** 0.5

3.4044340177796397

# One hot encoding

In [12]:
pd.get_dummies(df)

,MPG,Cylinders,Engine Disp,Horsepower,Weight,Accelerate,Year,Origin_American,Origin_European,Origin_Japanese
0,15.0,8,390.0,190,3850,8.5,70,1,0,0
1,21.0,6,199.0,90,2648,15.0,70,1,0,0
2,18.0,6,199.0,97,2774,15.5,70,1,0,0
3,16.0,8,304.0,150,3433,12.0,70,1,0,0
4,14.0,8,455.0,225,3086,10.0,70,1,0,0
...,...,...,...,...,...,...,...,...,...,...
387,31.0,4,91.0,68,1970,17.6,82,0,0,1
388,37.0,4,91.0,68,2025,18.2,82,0,0,1
389,36.0,4,120.0,88,2160,14.5,82,0,0,1
390,32.0,4,144.0,96,2665,13.9,82,0,0,1
391,34.0,4,108.0,70,2245,16.9,82,0,0,1

In [14]:
df1 = pd.get_dummies(df)

In [15]:
y=df1.MPG
x=df1.drop(columns=["MPG"])

In [16]:
lr.fit(x,y)
lr.score(x,y)

0.8241994699119171

In [17]:
mse(y,lr.predict(x)) ** 0.5

3.2683515153304175

In [ ]:
lr.predict([x.loc[5]])