In [1]:
text = """
Maharashtra government has reduced the prices of petrol and diesel by Rs 5 per litre and Rs 3 per litre respectively, the state’s chief minister Eknath Shinde said on Thursday, July 13. The decision was taken during the second cabinet meeting of the new government, which was formed last month after former chief minister Uddhav Thackeray resigned. Shinde informed reporters after the cabinet meeting at Mantralaya that the decision to reduce petrol, diesel price in Maharashtra would entail a burden of Rs 6,000 crore on the state exchequer.

“Maharashtra government will reduce value added tax (VAT) on petrol and diesel by Rs 5 and Rs 3 per litre respectively," the newly sworn-in chief minister said on the day.

Following the price reduction, petrol price in Mumbai will come down to Rs 106.35 per litre, as opposed to the Rs 111.35 per litre now. Similarly, diesel price in Mumbai will be cut to Rs 94.28 per litre, down by Rs 3 from the present Rs 97.28 per litre. In Pune, petrol price will be Rs 105.88 per litre, while diesel will be priced at Rs 92.37 for one litre. The price of one litre of petrol in Thane will come down to Rs 106.49 after the new rates are implemented. Diesel price in Thane will be reduced to Rs 94.42 per litre.
"""

In [2]:
len(text)

1247

In [3]:
# tokenize a sentence

In [4]:
text.split()

['Maharashtra',
 'government',
 'has',
 'reduced',
 'the',
 'prices',
 'of',
 'petrol',
 'and',
 'diesel',
 'by',
 'Rs',
 '5',
 'per',
 'litre',
 'and',
 'Rs',
 '3',
 'per',
 'litre',
 'respectively,',
 'the',
 'state’s',
 'chief',
 'minister',
 'Eknath',
 'Shinde',
 'said',
 'on',
 'Thursday,',
 'July',
 '13.',
 'The',
 'decision',
 'was',
 'taken',
 'during',
 'the',
 'second',
 'cabinet',
 'meeting',
 'of',
 'the',
 'new',
 'government,',
 'which',
 'was',
 'formed',
 'last',
 'month',
 'after',
 'former',
 'chief',
 'minister',
 'Uddhav',
 'Thackeray',
 'resigned.',
 'Shinde',
 'informed',
 'reporters',
 'after',
 'the',
 'cabinet',
 'meeting',
 'at',
 'Mantralaya',
 'that',
 'the',
 'decision',
 'to',
 'reduce',
 'petrol,',
 'diesel',
 'price',
 'in',
 'Maharashtra',
 'would',
 'entail',
 'a',
 'burden',
 'of',
 'Rs',
 '6,000',
 'crore',
 'on',
 'the',
 'state',
 'exchequer.',
 '“Maharashtra',
 'government',
 'will',
 'reduce',
 'value',
 'added',
 'tax',
 '(VAT)',
 'on',
 'petrol',
 'and',
 'diesel',
 'by',
 'Rs',
 '5',
 'and',
 'Rs',
 '3',
 'per',
 'litre',
 'respectively,"',
 'the',
 'newly',
 'sworn-in',
 'chief',
 'minister',
 'said',
 'on',
 'the',
 'day.',
 'Following',
 'the',
 'price',
 'reduction,',
 'petrol',
 'price',
 'in',
 'Mumbai',
 'will',
 'come',
 'down',
 'to',
 'Rs',
 '106.35',
 'per',
 'litre,',
 'as',
 'opposed',
 'to',
 'the',
 'Rs',
 '111.35',
 'per',
 'litre',
 'now.',
 'Similarly,',
 'diesel',
 'price',
 'in',
 'Mumbai',
 'will',
 'be',
 'cut',
 'to',
 'Rs',
 '94.28',
 'per',
 'litre,',
 'down',
 'by',
 'Rs',
 '3',
 'from',
 'the',
 'present',
 'Rs',
 '97.28',
 'per',
 'litre.',
 'In',
 'Pune,',
 'petrol',
 'price',
 'will',
 'be',
 'Rs',
 '105.88',
 'per',
 'litre,',
 'while',
 'diesel',
 'will',
 'be',
 'priced',
 'at',
 'Rs',
 '92.37',
 'for',
 'one',
 'litre.',
 'The',
 'price',
 'of',
 'one',
 'litre',
 'of',
 'petrol',
 'in',
 'Thane',
 'will',
 'come',
 'down',
 'to',
 'Rs',
 '106.49',
 'after',
 'the',
 'new',
 'rates',
 'are',
 'implemented.',
 'Diesel',
 'price',
 'in',
 'Thane',
 'will',
 'be',
 'reduced',
 'to',
 'Rs',
 '94.42',
 'per',
 'litre.']

In [5]:
words = text.split()

In [6]:
len(words)

221

In [7]:
len(set(words)) # unique words

108

In [8]:
len(set(text.lower().split())) # number of unique words after lower casing

105

In [9]:
unique_words = set(text.lower().split())

In [10]:
for word in unique_words:
    print(text.lower().count(word),word)

1 value
9 price
1 while
1 that
1 exchequer.
2 said
1 prices
11 litre
1 government,
1 mantralaya
1 has
1 reduction,
4 reduce
1 last
1 implemented.
1 94.42
6 petrol
1 second
1 month
1 newly
19 in
2 shinde
3 down
1 taken
1 added
1 which
1 now.
9 per
2 cabinet
1 sworn-in
1 informed
1 pune,
1 “maharashtra
1 tax
1 following
2 state
1 97.28
3 maharashtra
4 and
8 at
1 thursday,
2 was
2 mumbai
5 5
1 106.35
2 formed
2 thane
2 meeting
2 decision
1 opposed
1 july
6 diesel
1 cut
1 thackeray
2 come
4 be
57 a
3 chief
1 state’s
15 the
1 105.88
1 similarly,
1 crore
2 respectively,
16 rs
1 6,000
1 former
11 on
1 13.
1 reporters
1 are
2 one
1 rates
3 litre,
2 reduced
1 94.28
4 for
1 during
3 minister
6 to
1 priced
3 government
1 burden
1 (vat)
3 after
1 111.35
1 resigned.
1 would
7 will
1 respectively,"
3 litre.
1 uddhav
8 as
7 3
1 eknath
1 entail
5 of
3 new
1 petrol,
1 from
1 present
1 day.
1 92.37
1 106.49
3 by

In [11]:
# bag of words
data = {}
for word in unique_words:
    data[word] = text.lower().count(word)

In [12]:
data

{'value': 1,
 'price': 9,
 'while': 1,
 'that': 1,
 'exchequer.': 1,
 'said': 2,
 'prices': 1,
 'litre': 11,
 'government,': 1,
 'mantralaya': 1,
 'has': 1,
 'reduction,': 1,
 'reduce': 4,
 'last': 1,
 'implemented.': 1,
 '94.42': 1,
 'petrol': 6,
 'second': 1,
 'month': 1,
 'newly': 1,
 'in': 19,
 'shinde': 2,
 'down': 3,
 'taken': 1,
 'added': 1,
 'which': 1,
 'now.': 1,
 'per': 9,
 'cabinet': 2,
 'sworn-in': 1,
 'informed': 1,
 'pune,': 1,
 '“maharashtra': 1,
 'tax': 1,
 'following': 1,
 'state': 2,
 '97.28': 1,
 'maharashtra': 3,
 'and': 4,
 'at': 8,
 'thursday,': 1,
 'was': 2,
 'mumbai': 2,
 '5': 5,
 '106.35': 1,
 'formed': 2,
 'thane': 2,
 'meeting': 2,
 'decision': 2,
 'opposed': 1,
 'july': 1,
 'diesel': 6,
 'cut': 1,
 'thackeray': 1,
 'come': 2,
 'be': 4,
 'a': 57,
 'chief': 3,
 'state’s': 1,
 'the': 15,
 '105.88': 1,
 'similarly,': 1,
 'crore': 1,
 'respectively,': 2,
 'rs': 16,
 '6,000': 1,
 'former': 1,
 'on': 11,
 '13.': 1,
 'reporters': 1,
 'are': 1,
 'one': 2,
 'rates': 1,
 'litre,': 3,
 'reduced': 2,
 '94.28': 1,
 'for': 4,
 'during': 1,
 'minister': 3,
 'to': 6,
 'priced': 1,
 'government': 3,
 'burden': 1,
 '(vat)': 1,
 'after': 3,
 '111.35': 1,
 'resigned.': 1,
 'would': 1,
 'will': 7,
 'respectively,"': 1,
 'litre.': 3,
 'uddhav': 1,
 'as': 8,
 '3': 7,
 'eknath': 1,
 'entail': 1,
 'of': 5,
 'new': 3,
 'petrol,': 1,
 'from': 1,
 'present': 1,
 'day.': 1,
 '92.37': 1,
 '106.49': 1,
 'by': 3}

In [13]:
text1 = "hello how are you"
text2 = "how are you doing"
text3 = "what are you doing"

In [14]:
words = set()

In [15]:
for text in text1,text2,text3:
    for word in text.split():
        words.add(word)

In [16]:
words = {word:[] for word in words}

In [17]:
words

{'what': [], 'doing': [], 'how': [], 'you': [], 'are': [], 'hello': []}

In [18]:
for word in words:
    for text in text1, text2, text3:
        words[word].append(int(word in text))

In [19]:
words

{'what': [0, 0, 1],
 'doing': [0, 1, 1],
 'how': [1, 1, 0],
 'you': [1, 1, 1],
 'are': [1, 1, 1],
 'hello': [1, 0, 0]}

In [20]:
import pandas as pd

In [21]:
worddf=pd.DataFrame(words)

In [22]:
worddf.head()

   what  doing  how  you  are  hello
0     0      0    1    1    1      1
1     0      1    1    1    1      0
2     1      1    0    1    1      0